   h1 {
        font-size: 40px;
        z-index: 1;
        background-color: lightblue;
        color:black;
        text-align: center;
    }
   h2 {
        text-align: center;
        color: black;
        z-index: 0;
    }
    h3 {
        font-size: 15px;
        z-index: 1;
        background-color:lightblue;
        color:black;
        text-align: center;
    }
    h4 {
        font-size: 25px;
        z-index: 0;
        color:black
    }
    body {
        font-size: 20px;
        z-index: 1;
        background-color:lightblue;
        color:black;
    }
    p {
        font-style: arial;
        font-size: 15px;
        z-index: 0;
        color:black
    }
    .sectionfront {
        background-color: white;
        background-position: center;
        z-index: 0;
    }
    .sectionfront2 {
        background-position: center;
        background-color: white;
        z-index: 0;
    }