   h1 {
        font-size: 40px;
        z-index: 1;
        background-color: lightblue;
        color:black;
        text-align: center;
    }
    h3 {
        font-size: 15px;
        z-index: 1;
        background-color:lightblue;
        color:black;
        text-align: center;
    }
   body {
        font-size: 20px;
        z-index: 0;
        background-color:lightblue;
        color:black;
        e
    }
    p {
        font-style: arial;
        font-size: 15px;
        z-index: auto;
        color:black
    }
    h4 {
        font-size: 25px;
        z-index: auto;
        color:black
    }
    .sectionfront {
        background-color: white;
    }
    .sectionfront2 {
        background-position: center;
    }